.header-bar-container {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 75px;
    background-color: $quaternary-bg-color;
    padding: 0 60px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

    @include screen-width-control(615px) {
        justify-content: space-between;
        padding: 0 30px;
    }

    .mobile-menu-btn {
        position: relative;
        width: 25px;
        height: 3px;
        display: none;
        background-color: $primary-font-color;
        transition: all 0.5s ease-in-out;

        @include screen-width-control(615px) {
            display: block;
        }

        &::before {
            content: '';
            position: absolute;
            width: 15px;
            height: 3px;
            background-color: $primary-font-color;
            left: 0;
            top: -7px;
            transition: all 0.5s ease-in-out;
        }

        &::after {
            content: '';
            position: absolute;
            width: 15px;
            height: 3px;
            background-color: $primary-font-color;
            right: 0;
            bottom: -7px;
            transition: all 0.5s ease-in-out;
        }
    }

    .profile-container {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;

        img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            object-fit: cover;
        }

        .popup-menu-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .popup-menu-container {
            z-index: 20;
            position: absolute;
            bottom: 0;
            background: #FFFFFF;
            top: 60px;
            left: 0;
            width: 160px;
            height: 67px;
            border: 1px solid #E0E0E0;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 0;
            display: none;

            .edit-profile {
                width: 90%;
                display: flex;
                align-items: center;
                cursor: pointer;
                background: #FFFFFF;
                padding-left: 15px;

                h4 {
                    color: black;
                    margin: 13px 10px;
                    font-size: 15px;
                }

                &:hover {
                    background: #F2F2F2;
                    border-radius: 8px;
                }
            }
        }

        .popup-menu-container.show {
            display: flex;
        }
    }
}