.members-section-container {
    height: 100vh;
    flex: 1;
    width: calc(100vw - 300px);

    @include screen-width-control(600px) {
        width: 100vw;
    }

    @import "../components/headerbar";

    .members-section {
        height: calc(100vh - 75px);
        padding: 10px 50px;
        background-color: $primary-font-color;
        position: relative;
        overflow-y: auto;

        .members-text-container {

            h1 {
                margin-bottom: 10px;
                font-size: 30px;
                color: black;
            }
            
            h3 {
                color: #969696;
                margin-top: 5px;
                font-size: 18px;
            }
        }

        .add-new-member-btn {
            margin-top: 40px;
            margin-bottom: 25px;
            background-color: $secondary-bg-color;
            color: $primary-font-color;
            border: none;
            border-radius: 8px;
            padding: 15px;
            cursor: pointer;
            font-weight: bold;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            transition: transform 0.35s ease-out, background-color 0.1s ease-in;

            @include screen-width-control(600px) {
                margin-top: 10px;
            }

            &:hover {
                transform: scale(105%);
            }

            &:active {
                transform: scale(0.95);
            }
        }

        @import './modalform';

        @import './loading';

        .members-list-table-container {
            margin-bottom: 60px;

            .members-list-table {
                border-collapse: collapse;
                display: block;
                background-color: white;
                border-radius: 15px;
                table-layout: fixed;
                box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;

                .row-container {
                    overflow-x: auto;
                    width: 100%;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    thead {
                        display: table;
                        width: 100%;
        
                        tr {
        
                            th {
                                color: black;
                                font-size: 14px;
                                padding: 15px 30px 15px 10px;
                                border-bottom: 2px solid black;
                                text-align: center;
                                white-space: nowrap;
                            }
            
                        }
                    }
                }

                tbody {
                    display: block;    
                    width: 100%;
                    max-height: 54vh;
                    overflow: auto;
                    @import './membercard';

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }

            }
        }

        @import "../components/modal";

    }

}